pythonProject/src_Python/Ausgaben/Output.xlsx
pythonProject/src_Python/Ausgaben/Output.xlsx
pythonProject/src_Python/demo_full_2_port.py
pythonProject/src_Python/Funktionen/Ausgaben/20240506_10_44.xlsx
pythonProject/src_Python/Funktionen/Ausgaben/20240506_10_44_1.xlsx
*.pyc
*.xml
*.iml
