
pythonProject/src_Python/Funktionen/__pycache__/S_to_excel.cpython-37.pyc
pythonProject/src_Python/Ausgaben/Output.xlsx
pythonProject/src_Python/__pycache__/utils.cpython-37.pyc
pythonProject/src_Python/__pycache__/hidden.cpython-37.pyc
pythonProject/.idea/pythonProject.iml
pythonProject/.idea/misc.xml
pythonProject/src_Python/Ausgaben/Output.xlsx
pythonProject/src_Python/demo_full_2_port.py
